// APP COLORS
// #07136e
// #043a54
$main-color: #1034A7;
$main-color-light: #1435a8;
$main-color-info: #043a54;
$main-color-separator: #1435a8;
$main-color-alt: #1B3768;

// FONTS
$font-family: 'Lato', sans-serif;

// MEDIA QUERIES
$mobile-s: 320px;
$mobile-m: 375px;
$mobile-l: 425px;
$tablet: 768px;
$laptop: 1024px;
$laptop-l: 1440px;

// SIDEBAR
$sidebar-width: 230px;