// APP COLORS
// #07136e
// #043a54
$main-color: #1034A7;
$main-color-light: #1435a8;
$main-color-info: #043a54;
$main-color-separator: #1435a8;
$main-color-alt: #1B3768;

// FONTS
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
$font-family: 'Lato', sans-serif;
$google-fonts-roboto: 'Roboto', sans-serif;

// MEDIA QUERIES
$mobile-s: 320px;
$mobile-m: 375px;
$mobile-l: 425px;
$tablet: 768px;
$laptop: 1024px;
$laptop-l: 1440px;

// SIDEBAR
$sidebar-width: 230px;