@import "_variables.scss";

.finark-vh-100 {
    height: 100vh !important;
}
.finark-fw-800 {
    font-weight: 800 !important;
}
.finark-bg-default {
    background-color: #f3f4f6 !important;
}
.finark-bg-default-alt {
    background-color: #f8f9fe !important;
}
.finark-bg-primary {
    background-color: $main-color !important;
}
.finark-bg-blue {
    background-color: $main-color-light !important;
}
.finark-bg-dark {
    background-color: #212529 !important;
}
.finark-text-primary {
    color: $main-color !important;
}
.finark-text-blue {
    color: $main-color-light !important;
}
.finark-fill-default-alt {
    fill: #f8f9fe !important;
}
.finark-bg-gradient-primary {
    background: rgb(0,0,0);
    background: linear-gradient(140deg, rgba(0,0,0,1) 0%, $main-color 35%, #4a5961 100%);
    // background: linear-gradient(140deg, rgba(0,0,0,1) 0%, rgba(7,19,110,1) 35%, rgba(75,85,167,1) 100%);
}
.finark-bg-radial-gradient {
    background: rgb(214,51,132);
    background-image: linear-gradient(
        180deg, rgba(33,37,41, 0.01),
        rgba(33,37,41, 1) 85%),
        radial-gradient(ellipse at top left,
        rgba(13,110,253, 0.5), transparent 50%),
        radial-gradient(
            ellipse at top right,
            rgba(255,228,132, 0.5),
            transparent 50%
        ),
        radial-gradient(
            ellipse at center right,
            rgba(112.520718,44.062154,249.437846, 0.5), transparent 50%
        ),
        radial-gradient(
            ellipse at center left,
            rgba(214,51,132, 0.5), transparent 50%
        );  
}
.finark-bg-overlay-wwhite {
    background-color: rgba(255,255,255,0.1);
}
.finark-bg-overlay {
    background-color: rgba(0, 0, 0, .5);
}
.finark-btn-outline-primary {
    color:  $main-color !important;
    border-color: $main-color !important;
    background-color: transparent;
    background-image: none;

    &:hover {
        color:  #fff !important;
        border-color: $main-color!important;
        background-color: $main-color !important;
    }
}
.mh-100, .finark-okr-card {
    min-height: 100% !important;
}
.finark-footer-icons {
    max-width: 60px !important;
    max-height: 60px !important;
}
.finark-slider-next {
    cursor: pointer;
    :hover {
        transform: translateX(3px);
    }
}
.finark-text-shadow {
    text-shadow: 1px 2px 3px #333;
}
.finark-text-shadow-nav {
    text-shadow: 1px 2px 3px #333;

    @media screen and (min-width: 0) and (max-width: 992px) {
        text-shadow: none !important;
    }
}
.finark-landing-featured-h1 {
    font-size: 4.5rem;
    line-height: 4rem;
    
    @media screen and (min-width: $laptop-l) {
        font-size: 4.5rem;
        line-height: 4rem;
    }
    @media screen and (min-width: $laptop) and (max-width: $laptop-l) {
        font-size: 4rem;
        line-height: 4rem;
    }
    @media screen and (min-width: $tablet) and (max-width: $laptop) {
        font-size: 3rem;
        line-height: 3rem;
    }
    @media screen and (min-width: $mobile-l) and (max-width: $tablet) {
        font-size: 2.4rem;
        line-height: 3rem;
    }
    @media screen and (min-width: $mobile-m) and (max-width: $mobile-l) {
        font-size: 2.2rem;
        line-height: 2.5rem;
    }
    @media screen and (min-width: $mobile-s) and (max-width: $mobile-m) {
        font-size: 1.8rem;
        line-height: 2rem;
    }
    @media screen and (min-width: 0) and (max-width: calc($mobile-s - 1px)) {
        font-size: 1rem;
        line-height: 1.5rem;
    }
}
.finark-landing-featured-h2 {
    font-size: 2.5rem;
    line-height: 3rem;
    
    @media screen and (min-width: $laptop-l) {
        font-size: 2.5rem;
        line-height: 3rem;
    }
    @media screen and (min-width: $laptop) and (max-width: $laptop-l) {
        font-size: 2.5rem;
        line-height: 3rem;
    }
    @media screen and (min-width: $tablet) and (max-width: $laptop) {
        font-size: 2.3rem;
        line-height: 2.5rem;
    }
    @media screen and (min-width: $mobile-l) and (max-width: $tablet) {
        font-size: 1.9rem;
        line-height: 2.5rem;
    }
    @media screen and (min-width: $mobile-m) and (max-width: $mobile-l) {
        font-size: 1.7rem;
        line-height: 2rem;
    }
    @media screen and (min-width: $mobile-s) and (max-width: $mobile-m) {
        font-size: 1.8rem;
        line-height: 2rem;
    }
    @media screen and (min-width: 0) and (max-width: calc($mobile-s - 1px)) {
        font-size: 1rem;
        line-height: 1.5rem;
    }
}
.finark-landing-featured-p {
    font-size: 2rem;
    line-height: 2.5rem;
    
    @media screen and (min-width: $laptop-l) {
        font-size: 2rem;
        line-height: 2.5rem;
    }
    @media screen and (min-width: $laptop) and (max-width: $laptop-l) {
        font-size: 1.8rem;
        line-height: 2.5rem;
    }
    @media screen and (min-width: $tablet) and (max-width: $laptop) {
        font-size: 1.6rem;
        line-height: 2rem;
    }
    @media screen and (min-width: $mobile-l) and (max-width: $tablet) {
        font-size: 1.4rem;
        line-height: 2rem;
    }
    @media screen and (min-width: $mobile-m) and (max-width: $mobile-l) {
        font-size: 1.3rem;
        line-height: 2rem;
    }
    @media screen and (min-width: $mobile-s) and (max-width: $mobile-m) {
        font-size: 1.2rem;
        line-height: 1.5rem;
    }
    @media screen and (min-width: 0) and (max-width: calc($mobile-s - 1px)) {
        font-size: 1rem;
        line-height: 1.5rem;
    }
}
.finark-okr-img {
    width: 100%;
    
    @media screen and (min-width: $laptop-l) {
        width: 100%;
    }
    @media screen and (min-width: $laptop) and (max-width: $laptop-l) {
        width: 100%;
    }
    @media screen and (min-width: $tablet) and (max-width: $laptop) {
        width: 75%;
    }
    @media screen and (min-width: $mobile-l) and (max-width: $tablet) {
        width: 75%;
    }
    @media screen and (min-width: $mobile-m) and (max-width: $mobile-l) {
        width: 50%;
    }
    @media screen and (min-width: $mobile-s) and (max-width: $mobile-m) {
        width: 50%;
    }
    @media screen and (min-width: 0) and (max-width: calc($mobile-s - 1px)) {
        width: 50%;
    }
}
.finark-landing-separator {
    height: 4px;
    width: 80px;
    background-color: $main-color-separator;
}
.finark-slider-previous {
    cursor: pointer;
    :hover {
        transform: translateX(-3px);
    }
}
.text-finark {
    color: $main-color !important;
}
.carousel-caption {
    padding: 0px 10px;
    background: rgba($color: #000000, $alpha: .8);

    p {
        font-size: 1rem !important;
    }

    @media screen and (max-width: $tablet) {
        bottom: 50px !important;
    }

    @media screen and (max-width: $mobile-l) {
        h4 {
            font-size: 1rem !important;
        }
        p {
            font-size: .8rem !important;
        }
    }

    @media screen and (max-width: $mobile-m) {
        h4 {
            font-size: .8rem !important;
        }
        p {
            display: none;
        }
    }
}
.finark-nav-link-alt {
    color: white;

    &:hover {
        opacity: 0.8;
    }
}
.band {
    width: 90%;
    max-width: 1240px;
    margin: 0 auto;
    
    display: grid;
    
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    
    @media (min-width: 30em) {
      grid-template-columns: 1fr 1fr;
    }
    
    @media (min-width: 60em) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  .card-blog {
    background: white;
    text-decoration: none;
    color: #444;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    min-height: 100%;
    
    // sets up hover state
    top: 0;
    transition: all .1s ease-in;
    &:hover {
      top: -5px;
      box-shadow: 0 4px 5px rgba(0,0,0,0.2);
    }
    article {
        padding: 20px;
        flex: 1;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    h1 {
        font-size: 20px;
        margin: 0;
        color: #333;
    }
    p {
        flex: 1;
        line-height: 1.4;
    }
    span {
        font-size: 12px;
        font-weight: bold;
        color: #999;
        text-transform: uppercase;
        letter-spacing: .05em;
        margin: 2em 0 0 0;
    }
    .thumb {
        padding-bottom: 60%;
        background-size: cover;
        background-position: center center;
    }
}
.item-1 {
    @media (min-width: 60em) {
        grid-column: 1 / span 2;

        h1 {
        font-size: 24px;
        }
    }
}
// ABOUT US
.finark-okr-card {
    min-height: 100%;

    &:hover {
        cursor: pointer;
        transform: scale(1.05);
        transition: ease-in-out all 300ms;
    }

    p {
        font-size: .8rem;
    }
}

//   SERVICES
.services {
    min-height: 100%;
    text-align: center;
    padding: 25px 15px;
    margin-bottom: 2rem;
    border-radius: 30px;
    font-size: 14px;
    cursor: pointer;
    background-color: #fff;
    transition: transform 0.5s, background 0.5s;

    h2 {
        font-weight: 600;
        margin-bottom: 8px;
        color: $main-color;
    }

    p {
        font-size: 14px;
    }

    &:hover {
        background: $main-color;
        color: #fff;
        transform: scale(1.05);
        transition: ease-in-out all 300ms;
    }

    &:hover &--icon {
        color: #fff !important;
    }

    &:hover h2 {
        color: #fff;
    }

    &--icon {
        font-size: 40px;
        margin-bottom: 10px;
    }
}
.finark-services {
    &-btn {
        border-radius: 20px;
        background-color: #f8f9fa;
        border: 1px solid #ddd;
        color: #6c757d;
        font-size: 1rem;
        margin: 0 0 10px 10px;
        min-width: 80px;
        padding: 50px 30px;
        position: relative;
        text-align: center;

        &-icon {
            width: 100%;
            display: block;
            font-size: 30px;
        }
    }
    &-separator {
        display: flex;
        align-items: center;
        text-align: center;

        &::before,
        &::after {
            content: '';
            flex: 1;
            border-bottom: 1px solid #f1f1f1;
        }

        &:not(:empty)::before {
            margin-right: .25em;
        }

        &:not(:empty)::after {
            margin-left: .25em;
        }
    }
}

// Business Partners
.finark-bp-title-h2 {
    font-size: 2rem;
    text-shadow: 2px 2px 1px #fff;
}
.finark-bp-container {
	position: relative;
	padding: 2rem;
	border-radius: 1rem;

    h2 {
        font-size: 3rem;
        text-shadow: 2px 2px 1px #fff;
    }
    > .bp-icon {
        position: relative;

        &::after {
            content: "";
            display: block;
            padding-bottom: 100%;
        }
        img {
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 50%;
        }
    }
    p {
        margin-top: 1rem;
        font-size: 1.25rem;
        line-height: 1.5rem;
        font-weight: 500;
        text-shadow: 2px 2px 1px #fff;
    }
    @media screen and (min-width: 404px) and (max-width: 523px) {
        h2 {
            font-size: 2.5rem;
        }
        > .bp-icon {
            font-size: 3rem;
        }
        p {
            font-size: .8rem;
            line-height: .8rem;
        }
    }
}
// Business Partners
.finark-business-partners {
    > .nav-item {
        margin: 0 .5rem 1rem;
        border-radius: .5rem;
        border: solid 1px $main-color;
        border-bottom: solid 5px $main-color;
        background-color: #fff;

        &.active {
            border-bottom: solid 5px rgba($color: $main-color, $alpha: 1);
            background-color: $main-color;

            > .nav-link {
                color:#fff;
            }
        }

        > .nav-link {
            font-weight: 500;
            color:#333;
        }

        &:hover {
            border-bottom: solid 3px $main-color;
        }
    }
}

// Sign in
.finark-signin {
    &-container {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
	&-wrapper {
        min-height: calc(100% - 100px);
        display: flex;
        flex-direction: column;
        -webkit-box-pack: center;
        justify-content: center;
        margin: 50px 0px;
    }
    &-form {
        display: flex;
        flex-direction: column;
        margin: 0px auto;
        width: 400px;
        padding: 32px 40px;
        background: rgb(255, 255, 255);
        border-radius: 3px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
        box-sizing: border-box;

        &-header {
            display: flex;
            flex-direction: column;
            -webkit-box-align: center;
            align-items: center;
            text-align: center;
            color: rgb(94, 108, 132);
            margin-bottom: 16px;

            div {
                display: flex;
                flex-direction: column;
                padding-top: 24px;
                -webkit-box-align: center;
                align-items: center;

                h5 {
                    margin-bottom: 0;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 20px;
                    color: rgb(23, 43, 77);
                }
            }
        }
    }
    &-others {
        color: rgb(107, 119, 140);
        font-size: 14px;
        text-align: center;
        line-height: 20px;

        ul {
            display: flex;
            -webkit-box-pack: center;
            justify-content: center;
            list-style: none;
            padding: 0;
            margin: 0;

            p {
                margin: 0 8px;
            }
        }
    }
    &-footer {
        color: rgb(107, 119, 140);
        padding-top: 16px;
        border-top: 1px solid rgb(193, 199, 208);
        margin-top: 24px;
        padding-top: 1.5rem;
        font-size: 13px;
        text-align: center;
        line-height: 13px;
    }
}

// Careers
.finark-careers {
    &:hover {
        cursor: pointer;
        transition: ease-in-out all 300ms;
        transform: translateY(-10px);
    }
}


.card.blur {
    border: 1px solid #fff;
}
.card, .card.blur {
    box-shadow: 0 0.125rem 5px -0.0625rem rgba(12,26,36,.1), 0 0.0625rem 0.0625rem 0 rgba(12,26,36,.04);
}
.blur {
    box-shadow: inset 0 12px 16px -4px rgba(12,26,36,.04);
    -webkit-backdrop-filter: blur(13.6px);
    backdrop-filter: blur(13.6px);
    background-color: hsla(0,0%,100%,.65)!important;
}

.editor-container {
    height: 300px;
}